*{margin:0;padding:0;box-sizing:border-box;word-wrap:break-word;}

/* colors */
:root{
    --white: #fff;
    --darGrey: #333;
    --main: #ff385c;
    --green: #59ad59;
    --lightShadow: rgb(0 0 0 / 8%) 0px 1px 12px;
}

/*scroll bar css*/
html{text-size-adjust:none;scrollbar-color: var(--main) #dedede;scrollbar-width: thin;}
::-webkit-scrollbar, ::-webkit-scrollbar:horizontal{background: #dedede;width: 7px;height: 3px;}
::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb:horizontal{background: var(--main);border-radius: 5px;border-left: 1px solid #dedede;}

/* common css */
a, a:focus{text-decoration: none;color: inherit;}
a:hover{color: var(--main);}
input{font: inherit}
input, button{border: none;outline: none;background-color: transparent;}
input:focus, input:focus-visible{outline: none;border: none;}
ul, li{list-style: none;}
body{font-family: 'Lato', arial, sans-serif;font-weight: 400;font-size: 16px;}
#root{display: flex;flex-direction: column;min-height: 100vh;}
#main{flex: 1 0 auto;padding: 30px 0}
.hide{display: none !important;}
.container{max-width: 1100px;padding: 0 15px;margin: auto;}
.divider{margin-bottom: 50px;}
.img-resp{display: block;width: 100%;height: auto;}
.img-wrap{overflow: hidden;border-radius: 10px;position: relative;}
.best-seller-fa{position: absolute;top: 15px;left: 15px;z-index: 2;}
.img-wrap img{transition: all 0.3s linear;transform: scale(1.1);}
a:hover .img-wrap img{transform: scale(1);}
.fa{color: var(--main);font-size: 20px;}
.mob-show{display: none;}
.primary-btn{display: inline-block;background: var(--main); padding: 8px 15px 10px;border-radius: 10px; color: var(--white);font-weight: bold; text-transform: uppercase; letter-spacing: 1px;border: 1px solid var(--main);transition: all 0.3s linear;}
a:hover .primary-btn, .primary-btn:hover{background: transparent;color: var(--main);}
.icon-text-wrap{display: flex;align-items: center;text-transform: capitalize;}
.icon-text-wrap .fa{margin-right: 10px;}
.icon-btn{display: inline-flex;justify-content: center;align-items: center; width: 40px;height: 40px;border: 2px solid var(--main);border-radius: 10px;}
.text-center{text-align: center;}
.logo{font-size: 35px;}
.section-title{text-transform: uppercase;font-size: 24px;line-height: 40px;letter-spacing: 3px;margin-bottom: 20px;position: relative;padding-bottom: 20px;text-align: center;}
.section-title:after {content: '';position: absolute;bottom: 0;left: 50%;transform: translateX(-50%); width: 125px;height: 2px;background: var(--main);}

@media only screen and (max-width:767px){
    #main{padding: 20px 0;}
    .fa{font-size: 17px;}
    .mob-hide{display: none !important;}
    .mob-show{display: block !important;}
    .icon-btn{width: 35px;height: 35px;}
}