footer{background: var(--darGrey);color: #dadada;}
footer .logo{margin-bottom: 25px;}
.site-desc{line-height: 28px;width: 70%;}
.footer-cols-wrap{display: grid;grid-template-columns: 2fr 1fr 1fr;padding: 50px 0;align-items: center}
.footer-col-title{text-transform: uppercase;font-weight: 700;font-size: 15px;letter-spacing: 2px;margin-bottom: 25px;}
.footer-col li{font-size: 15px;;margin-bottom: 15px;}
.social-links-ul li a{display: inline-flex;align-items: center;}
.social-links-ul .fa{margin-right: 10px;font-size: 15px;}
.copyright{padding: 20px 0;border-top: 1px solid #666;}


@media only screen and (max-width:767px){
    .footer-cols-wrap{padding: 30px 0;}
    footer .logo{margin-bottom: 20px;}
    .logo-col{grid-column: span 3;margin-bottom: 40px;}
    .site-desc{width: 100%;}
}