.carousel{position: relative;}
.carousel-inner{position: relative;width: 100%;overflow: hidden;}
.carousel-item {position: relative; display: none; float: left; width: 100%; margin-right: -100%; backface-visibility: hidden;}
.carousel-item.active, .carousel-item-next, .carousel-item-prev { display: block;}
.carousel-item-next:not(.carousel-item-start), .active.carousel-item-end { transform: translateX(100%); }
.carousel-caption{position: absolute; background: rgba(0, 0, 0, 0.7); top: 50%;transform: translate(-50%, -30%); padding: 30px; border-radius: 15px;text-align: center;width: 75%;margin: auto;left: 50%;opacity: 0.7;transition: all 0.3s linear;}
.carousel-item.active .carousel-caption{opacity: 1;transform: translate(-50%, -50%)}
.carousel-caption h3{text-transform: uppercase;letter-spacing: 2px;margin-bottom: 25px;font-size: 28px;line-height: 45px; color: #fff;}
.carousel-caption h3 span{color: var(--main);}
.carousel-indicators{position: absolute;bottom: 35px;width: 100%;z-index: 1;display: flex;justify-content: center;gap: 10px;}
.carousel-indicators button{width: 10px;height: 10px;border-radius: 50%;background: var(--main);border: 1px solid var(--main);transition: all 0.3s linear;}
.carousel-indicators button.active{background: rgba(255, 255, 255, 0.8)}
.carousel-caption .primary-btn:hover{color: #fff;border-color: #fff;}
.carousel-control-prev-icon, .carousel-control-next-icon {width:40px; height: 40px; background-repeat: no-repeat; background-position: 50%; background-size: 50% 50%;background-color: rgba(0, 0, 0, 0.7);border:1px solid #333; border-radius: 5px;position:absolute;top: 50%;transform: translateY(-50%);transition: all 0.3s linear;}
.carousel-control-prev-icon:hover, .carousel-control-next-icon:hover{border-color: #fff;}
.carousel-control-prev-icon{background-image: url('data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23fff%27%3e%3cpath d=%27M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z%27/%3e%3c/svg%3e');left: 20px;}
.carousel-control-next-icon{background-image: url('data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23fff%27%3e%3cpath d=%27M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e');right: 20px;}
.carousel-item img{height: 500px;object-fit: cover;}
.visually-hidden{display: none;}

@media only screen and (max-width:599px){
    .carousel-caption{padding: 20px 0;}
    .carousel-caption h3{font-size: 18px;line-height: 25px;margin-bottom: 20px;}
    .carousel-indicators{margin-bottom: 0;}
    .carousel-item img{height: 300px;}
    .carousel-control-prev-icon, .carousel-control-next-icon {transform: scale(0.7);}
    .carousel-control-next-icon{right: 5px;}
    .carousel-control-prev-icon{left: 5px;}
}