.prop-listing-item{display: grid;grid-template-columns: 1fr 2fr;gap: 35px;align-items: center; padding-bottom: 25px;border-bottom: 1px solid #dfdfdf; margin-bottom: 25px;}
.prop-listing-content-wrap{display: flex;align-items: center;justify-content: space-between;gap: 15px;}
.prop-listing-item:last-child{margin: 0;padding: 0;border: none}
.price-wrap{text-align: right;flex-basis: 25%;}
.prop-listing-item-wrap{padding-bottom: 25px;margin-bottom: 25px;border-bottom: 1px solid #d7d7d7;}
.prop-listing-item-wrap:last-child{padding-bottom: 0;margin-bottom: 0;border: none;}
.prop-listing-title{font-size: 20px; line-height: 140%;margin-bottom: 10px;}
.prop-listing-loc{margin-bottom: 13px;color: #5a5a5a;}
p.prop-listing-type{font-weight: bold;letter-spacing: 1px;font-size: 15px;color: #000;text-transform: uppercase;}
.best-seller{margin-top: 15px;color: var(--green);font-weight:700;}
.best-seller .fa{color: var(--green);}
.prop-listing-price{font-weight: 700;font-size: 20px;margin-bottom: 10px;color: #000;}

@media only screen and (max-width:599px){
    .prop-listing-item{gap: 20px;grid-template-columns: 1fr}
    .prop-listing-item-wrap{padding-bottom: 15px;margin-bottom: 15px;}
    .view-listing-btn{text-align: center;}
}