.prop-types-wrap{display: grid;grid-template-columns: repeat(4, 1fr);gap: 10px;}
.prop-type-a{text-align: center; display: flex;justify-content: center;align-items: center;  height: 130px; border-radius: 10px;transition: all 0.3s linear;}
.prop-type-wrap:nth-child(1) .prop-type-a{background: #ffffbe;}
.prop-type-wrap:nth-child(2) .prop-type-a{background: #d1ffd1;}
.prop-type-wrap:nth-child(3) .prop-type-a{background: #cacaff;}
.prop-type-wrap:nth-child(4) .prop-type-a{background: #ffd3d3;}
.prop-type-title{font-size: 20px;line-height: 26px; z-index: 2; font-weight: 700; text-transform: capitalize;transition: all 0.3s linear;}
.prop-type-a:hover{background: #e3e3e3 !important;}
.prop-type-a:hover .prop-type-title{letter-spacing: 2px;}

@media only screen and (max-width:767px){
    .prop-types-wrap{grid-template-columns: repeat(2, 1fr)}
}